# SPDX-FileCopyrightText: 2023-2026 Tom Plant, Elias Elwyn, and contributors
# SPDX-License-Identifier: MIT

# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
